
<h1>{{title}}</h1>

<h2>{{myHero.name}}</h2>

<ul>
    <li *ngFor="let hero of heroes">
        {{hero.id}}
       {{hero.name}}
    </li>
</ul>
<p *ngIf="heroes.length > 3">heroes list {{heroes.length}}</p>









<!--<p appHighlight [hColor]="color">Highlight me!</p>-->

<p appHighlight >Highlight me!</p>


<input #customerInput [(ngModel)]="val">
<br>
<label>{{val}}</label>


<h2 [ngClass]="activeClass">hello</h2>


<input type="text">

<app-test></app-test>

<!--<input type="text" #myInput>-->
<!--<button (click)="logMessage(myInput)">log</button>-->
<!--{{myInput}}-->

<!--<button (click)="onClick($event)">Greet</button>-->
<!--{{text}}-->
<!--<br>-->
<!--<button (click)="text='hello'">Greet</button>-->

<!--<button [disabled]="isUnchanged">Save</button>-->

<!--<img [src]="heroImageUrl">-->
<!--<div [ngClass]="classes" (click)="getClick()">wwww</div>-->

<!--<div [class.special]="isSpecial">The class binding is special</div>-->

<!--<input type="text" #customerInput>-->
<!--<label>{{customerInput.value}}</label>-->

<router-outlet></router-outlet>

