<!--<ul>-->
    <!--<li *ngFor="let heroL of heroesLIst"-->
        <!--[class.selected]="heroL === selectedHero"-->
        <!--(click)="onSelect(heroL)">-->
        <!---->
        <!--<span>{{heroL.id}}</span>-->
        <!--<span>{{heroL.name}}</span>-->
       <!---->
    <!--</li>-->

<!--</ul>-->
<ul>
    <li *ngFor="let heroL of heroesSer">
        <a routerLink="/detail/{{heroL.id}}">
            <span>{{heroL.id}}</span>
            <span>{{heroL.name}}</span>
        </a>
    </li>

</ul>

<app-hero-detail></app-hero-detail>
